name: Java Build with GitHub Actions

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Get my code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build my Java project
        run: mvn clean package
