name: Java Build with GitHub Actions

on:
  push:
    paths: 
      - 'src/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: sleep 10

  lint:
    runs-on: ubuntu-latest
    steps:
      - run: sleep 10
  
  build:
    runs-on: ubuntu-latest
    needs: [test, lint]
    
    steps:
      - name: Get my code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Use fake API key
        run: echo "Connecting to API with key ${{ secrets.MY_API_KEY }}"

      - name: Build my Java project
        run: mvn clean package

      - name: Save build file
        uses: actions/upload-artifact@v4
        with:
          name: my-java-app
          path: target/*.jar

